.Contact {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Varela', sans-serif;
  margin: 0 auto;
  max-width: 100vw;
}

.Contact a:hover {
   color:rgb(180, 18, 216);
  /* border-bottom: 1px solid aqua; */
}

.profile-pic-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
}

.profile-pic {
  display: flex;
  width: 20vw;
  align-items: center;
}

.profile-pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.header {
  display: flex;
  width: 100%;
}

.connect-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem;
}

.connect {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.connect p {
  color: #52525B;
}

.connect-pic {
  width: 50%;
  padding: 1rem;
}

.connect-pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


@media (min-width: 640px) {

  .Contact {
    max-width: 1200px;
    margin: 0 auto;
  }

  .profile-pic {
    width: 15vh;
  }
} 

@media (min-width: 640px) and (max-width:912px) {

  .Contact {
    max-width: 800px;
    margin: 0 auto;
  }
  .profile-pic {
    width: 15vh;
  }

} 

@media (max-width:639px) {

  .Contact {
      overflow-x: hidden;
  }
    .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .connect-container {
      flex-direction: column;
      align-items: left;
    }
    
    .connect {
      order: 2;
      width: 100%;
  }
  .connect-pic {
    padding: 0;
    order: 1;
    width: 100%;
  }
}
