.Nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

.Nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  margin: 1.5rem auto;
  padding: 0;
  max-width: 100%;
}

.Nav-bar a {
  color: black;
  line-height: 1.5;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.Nav-bar a:hover {
  color:aqua;
  border-bottom: 1px solid aqua;
}