nav {
  border-bottom: 1px solid rgba(139, 137, 137, 0.502);
  padding: 1rem;
  font-size: 90%;
  max-width: 1200px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

nav li:first-child {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

.profile-pic {
  display: flex;
  align-items: center;
  height: 4rem;
}


@media (min-width: 550px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  nav li:first-child {
    justify-content: flex-start;
    margin-right: auto;
    flex-basis: 40%;
    /* border: 1px solid red;     */
  }
}

/* @media (min-width: 850px) {
  nav li:first-child {
    flex-basis: 40%;
    text-align: left;   
  }
  } */

/* .profile-pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} */

/* .Nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  padding: 0;
  max-width: 100%;
} */


/* .Nav-bar a {
  color: black;
  line-height: 1.5;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
} */

/* .Nav-bar a:hover {
  color:aqua;
  border-bottom: 1px solid aqua;
} */