.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 4rem 1rem;
}

.projects h2 {
font-size: 2rem;
margin-bottom: calc(2rem * 1);
color: black;
}
.projects h3 {
  font-size: 1.5rem;
  color: black;
}

.projects h4 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.textbox {
  border-radius: 10px;
  font-size: .8rem;
  line-height: 1.5;
}

.projects article:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

.projects img {
  margin-top: 1rem;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
}

.projects video {
  margin-top: 1rem;
  border-radius: 25px;
  width: 100%;
}

.work {
  border-radius: 15px;
  padding: 1rem;
}

.reactime a {
  text-decoration: none;
  color: black;
}



/* @media (min-width: 640px) and (max-width:912px) {

  .Home {
    max-width: 800px;
    margin: 0 auto;
  }
  .profile-pic {
    width: 15vh;
  }
  .picture-div-container {
  margin-top: 4rem;
}
.picture-div {
  gap: 2rem;
}
  .picture-div img {
    max-width: 100%;
    overflow: auto;
  }
} 


@media (max-width:639px) {
  .Home {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .picture-div img {
    overflow: hidden;
}
} */